body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* UTILITIES */

.label-text {
  font-size: 12px;
  line-height: 24px;
}

.cursor-pointer {
  cursor: pointer;
}

.being-edited {
  cursor: not-allowed !important;
  background-color: rgb(216, 41, 41) !important;
  color: #fff !important;
}

.md-shadow-1 {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.icon-box--light-bg {
  background-color: #ddd;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0 1.5px 1.2px rgba(0, 0, 0, 0.35), 0 2px 1px rgba(0, 0, 0, 0.2);
}

.inner-span {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
